*{
    font-family: 'Inter', sans-serif;
    color: white;
}


// -> HL: “Helvetica Neue Light"
// {font-weight: 300}
h1{
    font-weight: 900;
    margin: 1rem 0;
    font-size: 3rem;
    line-height: 1.1;
    @media screen and (min-width: 600px){
        font-size: 4.5rem;
    }
    @media screen and (min-width: 750px){
        font-size: 6rem;
    }
}


h3{
    font-weight: 900;
    font-size: 1.1rem;
    @media screen and (min-width: 600px){
        font-size: 1.35rem;
    }
    @media screen and (min-width: 750px){
        font-size: 1.5rem;
    }
}


h4{
    font-size: 1.15rem;
    font-weight: 500;
}

h5{
    font-size: 0.8rem;
    font-weight: 500;
}

// -> FT: “Helvetica Neue Regular”
// {font-weight: 500}
p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0.75rem 0;
}


// -> FT-bold: “Helvetica Neue Medium”
// {font-weight: 700}
.p-bold{
    font-weight: 700;
}


label{
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--BG-trans);
    margin-top: 0.3rem;
}