body, html{
    height: 100%;
    position: relative;
}


// GENERAL CLASSES
.col{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.mbXL{
    margin-bottom: 3rem;
}


.split{
    display: flex;
    gap: 2rem;
    @media screen and (min-width: 600px){
        gap: 4rem;
    }
    @media screen and (min-width: 750px){
        gap: 6rem;
    }
}