body, html {
  height: 100%;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.mbXL {
  margin-bottom: 3rem;
}

.split {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .split {
    flex-direction: row;
    gap: 4rem;
  }
}

.ma-auto {
  margin: auto;
}

:root {
  --BG: rgb(215, 223, 228);
  --BG-trans: rgba(215, 223, 228, 0.5);
  --PrimeLight: rgb(90, 127, 155);
  --PrimeDark: rgb(0, 42, 73);
  --PrimeDark-trans:rgba(0, 42, 73, 0.5);
  --PrimeDarker: rgb(0, 26, 45);
  --Red: rgb(192, 95, 97);
}

.cBG {
  color: var(--BG);
}

.cPrimeLight {
  color: var(--PrimeLight);
}

.cPrimeDark {
  color: var(--PrimeDark);
}

.cRed {
  color: var(--Red);
}

.bgBG {
  background-color: var(--BG);
}

.bgPrimeLight {
  background-color: var(--PrimeLight);
}

.bgPrimeDark {
  background-color: var(--PrimeDark);
}

.bgRed {
  background-color: var(--Red);
}

.x {
  border: 2px solid rgb(255, 0, 157);
}

.y {
  border: 2px solid rgb(0, 255, 251);
}

.z {
  border: 2px solid rgb(149, 255, 0);
}

* {
  font-family: "Inter", sans-serif;
  color: white;
}

h1 {
  font-weight: 900;
  margin: 1rem 0;
  font-size: 3rem;
  line-height: 1.1;
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 750px) {
  h1 {
    font-size: 6rem;
  }
}

h3 {
  font-weight: 900;
  font-size: 1.1rem;
}
@media screen and (min-width: 600px) {
  h3 {
    font-size: 1.35rem;
  }
}
@media screen and (min-width: 750px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.15rem;
  font-weight: 500;
}

h5 {
  font-size: 0.8rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.75rem 0;
}

.p-bold {
  font-weight: 700;
}

label {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--BG-trans);
  margin-top: 0.25rem;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--PrimeDark);
}
nav .logo {
  display: flex;
  margin-left: 1rem;
}
nav .logo > * {
  width: 100px;
}
nav .menu {
  display: flex;
}
nav .menu button {
  margin: auto;
  border: 0;
  padding: 0;
  outline: 0;
}

form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin-bottom: 1rem;
}
form .name {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
form .name > * {
  width: 50%;
}
form input {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--BG);
  color: var(--BG);
  padding: 0.8rem 0;
}
form textarea {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--BG);
  color: var(--BG);
  padding: 1.2rem;
  border-radius: 8px;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  outline: 2px solid var(--BG);
  color: var(--BG);
  padding: 0.5rem;
  border-radius: 50px;
  margin: auto;
  width: 150px;
  margin-bottom: 0.5rem;
  transition: 200ms;
}
button:hover {
  box-shadow: 0rem 0rem 1rem rgba(25, 29, 41, 0.5);
  outline: 2px solid white;
  color: white;
}

.video {
  margin-top: 1rem;
  display: flex;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}
.video > * {
  width: 100%;
}

.benefit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.benefit-container .benefit {
  margin-top: 1rem;
  display: flex;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
  width: 50%;
}
@media screen and (min-width: 750px) {
  .benefit-container .benefit {
    width: 100%;
  }
}
.benefit-container .benefit > * {
  width: 100%;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonial-container .testimonial {
  margin-top: 1rem;
  display: flex;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
  height: 40px;
}
@media screen and (min-width: 750px) {
  .testimonial-container .testimonial {
    height: 60px;
  }
}

.w50px {
  display: flex;
  margin: auto;
  width: 50px;
}
.w50px > * {
  display: flex;
  margin: auto;
  width: 20px;
}

.hero1 {
  background-image: url("./images/hero_1.jpg");
}

.hero2 {
  background-image: url("./images/hero_2.jpg");
}

.hero3 {
  background-image: url("./images/hero_3.jpg");
}

.hero4 {
  background-image: url("./images/hero_4.jpg");
}

.bg1 {
  background-image: url("./images/bg_dark_1_40.png");
}

.bg3 {
  background-image: url("./images/bg_dark_3_40.png");
}

.bg4 {
  background-image: url("./images/bg_dark_4_40.png");
}

.bg5 {
  background-image: url("./images/bg_dark_5_40.png");
}

.laptop {
  background-image: url("./images/laptop.png");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
@media only screen and (max-device-width: 400px) {
  .parallax {
    background-attachment: scroll;
  }
}
.parallax > * {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 90%;
}
@media screen and (min-width: 600px) {
  .parallax > * {
    width: 75%;
  }
}
@media screen and (min-width: 750px) {
  .parallax > * {
    width: 60%;
  }
}

.blur {
  border-radius: 8px;
  padding: 2rem;
  margin-top: 2rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: var(--PrimeDark-trans);
}

.shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-btn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--BG);
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .dropdown-content > p {
  color: var(--PrimeDark);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content > p:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-btn {
  background-color: var(--BG);
  color: var(--PrimeDark);
}

/*# sourceMappingURL=index.css.map */
