// => CI-Blaugrau hell / Eingesetzt für den Hintergrund/Weißraum
:root{
    --BG: #D7DFE4;
    --PrimeLight: #5A7F9B;
    --PrimeDark: #002A49;
    --Red: #C05F61;
}

.cBG{
    color: var(--BG)
}

.cPrimeLight{
    color: var(--PrimeLight)
}

.cPrimeDark{
    color: var(--PrimeDark)
}

.cRed{
    color: var(--Red)
}